input[type="color"]{
    display: block;
    height: 300px;
    width: 300px;
  }

#ht1 {
  color: white; 
}

#choiceBox {   
  position: absolute;
  top: 40%;
  left: 32%;
    
  margin: auto;
}

#credit {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  top: 95%;
  position: absolute;
}

#display {
  position: absolute;
  top: 40%;
  left: 42%;
    
  margin: auto;
  border-radius: 10px;
  padding: 20px;
}

#textCol {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#txtChoice {
  text-align: center;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#colorPicked {
  position: absolute;
  top: 30%;
  left: 25%;
    
  margin: auto;
  border-radius: 10px;
  padding: 20px;
}